---
title: Home
layout: default
---

<h2> About </h2>
<div class="indexPageContent">

	<div class="divRight">
		<img src="/assets/img/about/robbertColor.jpg"/>
		<!--	<p style="color: black"><b>"Creativity is randomness placed into a framework."</b></p> -->
	</div>

	<div class="divLeft">
		<article>
			I will mostly use this website for blogging about my
			projects. 
			The goal of publishing these is twofold: for one, it allows me to review a project
			in retrospect, and secondly, anyone interested can read about
			what I spend my free time on. 
			You can find my project posts on the <a href="/projects">projects page</a>.
			<br> <br>
		</article>
		<div class="icon linkedin">
			<a href="http://www.linkedin.com/in/robberthofman">{% include icons/linkedin.html %}</a>
		</div>
		<div class="icon github">
			<a href="http://www.github.com/robberth">{% include icons/github.html %}</a>
		</div>
	</div>

</div>

