---
title: Home
layout: default
---



   <h2> Welcome&#33; </h2>
   <article>Well hello, this is my website! I will mostly use it for blogging about my
   projects, which you can find here: <a href="/projects">projects page</a>.
   In the <a href="/about">about</a> section you will find out more about who I am
   and what I do. Enjoy yourself, and if you have any questions or suggestions,
   make sure to <a href="mailto:hofman.robbert@gmail.com">contact me</a>! Cheers! <br> <br></article>

   <h3>Recent posts</h3>
   

   <div class="postlist">
         <ul>
           {% for post in site.posts %}
             <li>
               <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
               <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
             </li>
           {% endfor %}
         </ul>
   </div>

   <h3>Find me on the interwebs</h3>
   <div class="twittericon">
      <a href="http://www.twitter.com/smoothswitch">{% include icons/twitter.html %}</a>
   </div>
   <div class="githubicon">
      <a href="http://www.github.com/robberth">{% include icons/github.html %}</a>
   </div>
