header
   background: url(../img/backgrounds/114H.jpg) center center
   height: 320px
   background-size: cover


   nav
      text-align: center
      padding: 20px 0px 20px 0px
      a
         display: inline-block
         margin-left: 20px
         color: rgba(255, 255, 255, 0.7)
         font:
            size: 14px
            weight: 700
         text-transform: uppercase

         &:hover
            color: rgba(0,0,0,1)

   h1
      text-align: center
      font:
         size: 58px
         weight: 700
      color: #ffffff
      text-transform: uppercase
      letter-spacing: 0.05em
      margin-bottom: 10px

      span
         display: inline-block
         padding: 0.2em 0.4em
         border: white solid 7px
   .kicker
      color: rgba(255,255,255,1)
      text-align: center
      font:
         weight: 700
      text-transform: uppercase
      padding: 20px 0px 0px 0px
