.content-wrapper
   min-height: 511px
   max-width: 800px
   margin: auto
   padding: 0px 0px 2% 0

   h2
      color: $primary-color
      font-size: 3em

   h3
      color: $primary-color
      font-size: 1.5em

   article
      max-width: 600px
      text-align: justify


   .postlist
      ul
         display: inline-block
         padding: 0.2em 0em 0em 2em
         border-left: black solid 4px
         li
            list-style-type: none

            .post-link
               color: $primary-color
               font-weight: 600

            .post-meta
               color: rgba($primary-color, 0.7)

   .bigpostlist
      ul
         display: inline-block
         padding: 0.2em 0em 0em 2em
         border-left: black solid 4px
         li
            list-style-type: none

            .post-link
               color: $primary-color
               font-weight: 550
               font-size: 200%
               &:hover
                  color: $link-color

            .post-meta
               color: rgba($primary-color, 0.7)


   .twittericon
      display: inline-block
      +size(100px)
      path
         fill: rgba($primary-color, 0.7)
      a
         &:hover
            path
               fill: #55acee

   .githubicon
      display: inline-block
      +size(100px)
      path
         fill: rgba($primary-color, 0.7)
      a
         &:hover
            path
               fill: rgba($primary-color, 1)
