.content-wrapper
  min-height: 511px
  max-width: 800px
  margin: auto
  padding: 0px 0px 2% 0

h2
  color: $primary-color
  font-size: 3em

h3
  color: $primary-color
  font-size: 1.5em

article
  max-width: 600px
  text-align: justify

.postlist
  ul
    display: inline-block
    padding: 0.2em 0em 0em 2em
    border-left: black solid 4px
    li
      list-style-type: none

    .post-link
      color: $primary-color
      font-weight: 600

.post-meta
  color: rgba($primary-color, 0.7)

.bigpostlist
  ul
    display: inline-block
    padding: 0.2em 0em 0em 2em
    border-left: black solid 4px
    li
      list-style-type: none

      .post-link
        color: $primary-color
        font-weight: 550
        font-size: 200%
        &:hover
          color: $link-color

      .post-meta
        color: rgba($primary-color, 0.7)

.icon
  display: inline-block
  +size(100px)
  path
    fill: rgba($primary-color, 0.7)

.icon.linkedin // target html elements that have both icon and linkedin as style
  a
    &:hover
      path
        fill: #0083be
.icon.twitter
  a
    &:hover
      path
        fill: #55acee 
.icon.github
  a
    &:hover
      path
        fill: #000000 

.half-content
  margin-top: 2em
  margin-bottom: 5em

.indexPageContent
  min-height: 60%
  width: 100%
  margin-left: 0%
  display: flex
  flex-direction: row-reverse
  flex-wrap: wrap
  justify-content: center
  align-items: center
  margin-bottom: 00vh

  .divLeft
    margin: auto
    text-align: center
    h2
      color: black
    article
      padding: 0
      margin: 0
      color: black
    h3
      color: black
    .icon
      margin-top: 1vh
      min-width: 50px
      width: 15%

  .divRight
    margin: auto
    border: white solid 1px
    flex-wrap: wrap
    min-height: 300px
    min-width: 300px
    //flex-basis: 49%
    text-align: center
    //align-items: center
    img
      margin-top: 0vw
      width: 90% 
      filter: brightness(100%)
      max-width: 100% // never push div boundaries
      border-radius: 50% // circle

// only for screens bigger than min-width
@media (min-width: 1081px) 
  .half-content
    display: flex
    justify-content: center
  .divLeft
    flex-basis: 40% 
  .divRight
    flex-basis: 20% 
    margin: auto 0


